<div class="container">

  <div class="choices">
    <div class="name-selection">
      <md-input-container>
        <label>What is your name?</label>
        <input type="text" ng-model="HomeCtrl.selections.name" />
      </md-input-container>
    </div>

    <div class="area-of-study-selection">
      <md-select ng-model="HomeCtrl.selections.industry" placeholder="What area of study would you like to pursue?">
        <md-option ng-value="industry" ng-repeat="industry in HomeCtrl.industries">{{ industry }}</md-option>
      </md-select>
    </div>

    <div class="province-selection">
      <md-select ng-model="HomeCtrl.selections.province" placeholder="What province are you from?" style="min-width: 200px;">
        <md-option ng-value="province" ng-repeat="province in HomeCtrl.provinces">{{ province }}</md-option>
      </md-select>
    </div>

    <div class="gender-selection">
      <h3>What is your gender?</h3>
      <div class="female" ng-click="HomeCtrl.selections.gender = 'Female';"><i ng-class="{ 'active': HomeCtrl.selections.gender === 'Female' }" class="fa fa-female"></i></div>
      <div class="male" ng-click="HomeCtrl.selections.gender = 'Male';"><i ng-class="{ 'active': HomeCtrl.selections.gender === 'Male' }" class="fa fa-male"></i></div>
    </div>

    <div class="submit" ng-show="!HomeCtrl.loading">
      <md-button class="md-raised md-primary" ng-click="HomeCtrl.submit()">Submit</md-button>
    </div>

    <div class="loading" ng-show="HomeCtrl.loading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <p>Hang on a sec, we're crunching some numbers!</p>
    </div>

    <div class="errors" ng-show="HomeCtrl.errs.length > 0">
      <ul>
        <li ng-repeat="err in HomeCtrl.errs">{{ err }}</li>
      </ul>
    </div>
  </div>

</div>